<a href="https://colab.research.google.com/github/salwaisnar-dev/KKA-IX-Semester-1/blob/main/Salwa_Hanik_Isnaini_XI3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Salwa Hanik Isnaini

Kelas: XI.3

No Absen: 28

#Menampilkan Sring (Teks Bebas)

In [ ]:
print("Salwa Hanik Isnaini")

Salwa Hanik Isnaini

#Menampilkan Nilai Variabel

In [ ]:
Nama = "Salwa Hanik Isnaini"

Usia = 16

Tinggi_badan = 147

Berat_badan = 39

print(Nama)
print(Usia)
print(Tinggi_badan)
print(Berat_badan)

Salwa Hanik Isnaini
16
147
39

#Menampilkan String dan Nilai Variabel

In [ ]:
print("Halo nama saya", Nama, ". Tinnggi badan saya adalah", Tinggi_badan, "cm.")

Halo nama saya Salwa Hanik Isnaini . Tinnggi badan saya adalah 147 cm.

In [ ]:
print("Usia saya adalah", Usia,"Tahun")

Usia saya adalah 16 Tahun

In [ ]:
print("Halo nama saya "+ Nama+ ". Tinnggi badan saya adalah "+ str(Tinggi_badan)+ "cm.")

Halo nama saya Salwa Hanik Isnaini. Tinnggi badan saya adalah 147cm.

In [ ]:
print(f"Halo nama saya  {Nama} . Tinnggi badan saya adalah {Tinggi_badan} cm.")

Halo nama saya  Salwa Hanik Isnaini . Tinnggi badan saya adalah 147 cm.

#paramenter

In [ ]:
nama_siswa_1 = "Yapi"

nama_siswa_2 = "Wahyu"

In [ ]:
print(nama_siswa_1, end="&")
print(nama_siswa_2)

Yapi&Wahyu

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep="/")

Yapi/Wahyu

In [ ]:
nama_siswa_3 = "Dzakka"

nama_siswa_4 = "Haika"

nama_siswa_5 = "Hilma"

In [ ]:
print(nama_siswa_5, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_5)

Hilma*Haika*Dzakka*Hilma